.row {
    padding: initial;
}
.p-0 {
    padding: 0;
}
.display-flex {
    display: flex;
    align-items: stretch;
    flex-wrap: wrap;
}
.display-flex > .col {
    flex-shrink: 0;
    margin-bottom: 30px;
}
.single-volvo_vehicule_dispo .wrapper,
.page-template-app_vehicules_dispo .wrapper {
    background-color:  #e4e3de;
}
.infosbar {
    overflow: hidden;
}
.infosbar ul {
    list-style-type: none;
    display: inline-block;
}
.pageSwitch-vehiculesDispo {
    padding-left: 0;
    margin-bottom: 0;
}
.pageSwitch-vehiculesDispo li.tab {
    display: inline-block;
    background-color: #c9c8c5;
    font-family: "VolvoBroad", sans-serif;
    font-size: 18px;
    padding: 11px 20px;
    width: 50%;
    text-align: center;
}
.pageSwitch-vehiculesDispo li.tab.current {
    background-color: #e4e3de;
}
.infosbar__notice {
    float: right;
    padding: 12px 25px 0px;
    height: 100%;
    line-height: 47px;
    background: url(img/notice.png) center 0px no-repeat #fccc82;
    background-size: cover;
    margin-right: 0px;
    color: #4d4e53;
    font-family: 'VolvoBroad';
    font-size: 14px;
}
.sub_infosbar {
    background-color: #fff;
    padding: 10px;
}
.news__btn {
    margin-bottom: 0;
}
.infosbar__pagename-vehiculesDispo {
    background: url(../img/icons/icone_vehicules_dispo_blanc.png) 30px center no-repeat transparent;
    background-size: auto 60%;
    padding-left: 95px;
}
.infosbar__reinit {
    display: inline-block;
    float: right;
    height: 47px;
    padding: 14px 20px;
    color: #fff;
    text-decoration: underline;
}
.subinfosbar__reinit {
    display: inline-block;
    padding: 14px 20px;
    text-decoration: underline;
    text-transform: uppercase;
}
.subinfosbar__filters_button {
    display: inline-block;
    padding: 14px 20px;
    font-family: 'VolvoBroad';
    font-size: 18px;
    cursor: pointer;
}
.subinfosbar__filters_button::after {
    content: "";
    display: inline-block;
    background: url(img/icon_dropdown.png) no-repeat #e4e3de;
    width: 16px;
    height: 11px;
    margin-left: 10px;
}
/* Filters */
#filtervehiculesDispo {
    display: flex;
    flex-wrap: wrap;
}
.filters {
    margin-bottom: 20px;
    padding: 15px 0;
    background-color: #fff;
}

.filters span {
    float: left;
    line-height: 30px;
    font-size: 16px;
    clear: left;
}
.vehiculesDispo__selectWrapper {
    display: inline-block;
    width: 100%;
    overflow: hidden;
    background: url(img/icon_dropdown.png) no-repeat #fff;
    background-position-x: calc(100% - 15px);
    background-position-y: 16px;
    padding-left: 7px;
    padding-right: 7px;
    margin-bottom: 5px;
}
.vehiculesDispo__searchWrapper {
    display: inline-block;
    width: 100%;
    height: 40px;
    padding-left: 7px;
    padding-right: 7px;
}
.vehiculesDispo__searchWrapper_inner {
    width: 100%;
    display: flex;
}
.vehiculesDispo__searchWrapper input[type="text"]{
    border: solid 1px #4d4e53;
    border-right: none;
    padding: 9px 8px;
    min-width: calc(100% - 36px);
}
.vehiculesDispo__searchWrapper input[type="submit"]{
    background: url(../img/icons/icone_search_gris.png) 5px center no-repeat #ebebe9;
    border: solid 1px #4d4e53;
    border-left: none;
    height: 40px;
    width: 36px;
    background-size: auto 60%;
}
.vehiculesDispo__select {
    position: relative;
    z-index: 20;
    padding: 9px 8px;
    width: 100%;
    min-width: 200px;
    box-shadow: none;
    font-family: arial, sans-serif;
    font-size: 14px;
    border: solid 1px #4d4e53;
    background-color: transparent;
    background-image: none;
    -ms-appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    float: left;
    line-height: 20px;
}
.vehiculesDispo__select option {
    color: #4d4e53 !important;
}
.vehiculesDispo__select option:first-child {
    font-weight: 700;
}
/* Cards */
.vehicule_dispo_card {
    background-color: #fff;
    border: solid 1px #4d4e53;
    text-transform: uppercase;
    padding: 0;
    height: 100%;
    position: relative;
}
.vehicule_dispo_card.mea {
    border: solid 1px #fccc82;
    outline: solid 6px #fccc82;
}
.vehicule_dispo_card .card_header {
    background-color: #4d4e53;
    color: #fff;
    padding: 10px;
    font-size: 14px;
}
.vehicule_dispo_card .card_header .textLeft { float: left; }
.vehicule_dispo_card .card_header .textRight { /* float right only on desktop */
    display: block;
    font-size: 12px;
}
.vehicule_dispo_card .card_header .operation {
    clear: both;
    font-size: 16px;
    font-weight: 700;
    height: 45px;
    overflow: hidden;
    text-overflow: ellipsis;
}
.vehicule_dispo_card .card_picture {
    padding: 0;
}
.vehicule_dispo_card .card_picture img,
.popin .card_picture img {
    width: 100%;
}
.vehicule_dispo_card .card_infos {
    position: relative;
}
.vehicule_dispo_card .card_picture .reserve {
    background-color:  #fccc82;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    text-align: center;
    position: absolute;
    right: 15px;
    top: 15px;
    padding-top: 10px;
}
.vehicule_dispo_card .card_picture .reserve:before {
    content: "";
    background-image: url('img/reserver_small.png');
    display: block;
    width: 9px;
    height: 12px;
    margin: 0 auto;
}
.vehicule_dispo_card .card_infos_sub {
    padding: 10px;
    border-bottom: solid 1px #fff;
}

.vehicule_dispo_card .card_infos_sub > div {
    /*display: block;*/
    /*height: 15px;*/
    /*overflow: hidden;*/
}
.vehicule_dispo_card .card_link,
.vehicule_dispo_actions .card_link,
.popin .card_link {
    display: block;
    margin-top: 10px;
    background-color:  #fccc82;
    font-family: "VolvoBroad", sans-serif;
    font-size: 18px;
    text-align: center;
    padding: 5px 10px;
    -webkit-transition: all .5s;
    -ms-transition: all .5s;
    -moz-transition: all .5s;
    transition: all .5s;
}
.vehicule_dispo_card .card_link:hover,
.vehicule_dispo_actions .card_link:hover,
.popin .card_link:hover {
    background-color:  #4d4e53;
    color: #fccc82;
    text-decoration: none;
}

#vehiculesDispo-pagination {
    width: 100%;
    margin-top: 0;
    text-align: center;
}

#vehiculesDispo-pagination .pagination {
    width: 100%;
}

#vehiculesDispo-pagination a.prev {
    background: url(../img/icons/icone_pagination_previousgris.png) center 6px no-repeat;
    padding: 4px 20px;
    background-size: 50%;
}

#vehiculesDispo-pagination a.prev:hover {
    background: url(../img/icons/icone_pagination_previous.png) center 6px no-repeat;
    background-size: 50%;
}

#vehiculesDispo-pagination a.next {
    background: url(../img/icons/icone_pagination_nextgris.png) center 6px no-repeat;
    padding: 4px 20px;
    background-size: 50%;
}

#vehiculesDispo-pagination a.next:hover {
    background: url(../img/icons/icone_pagination_next.png) center 6px no-repeat;
    background-size: 50%;
}
.reservation {
    height: auto !important;
    font-weight: 700;
    color: #dd7611;
    margin-top: 15px;
}
.popin {
    position: fixed;
    left: 0;
}
.popin__content__titre-orange {
    color: inherit
}
.popin__content__close-orange {
    filter: grayscale(100%);
}
/*
 * SINGLE PAGE
 */
.single-volvo_vehicule_dispo #content {
    padding-right: 0;
}
.single-volvo_vehicule_dispo #content article > .col:first-of-type {
    padding-top: 30px;
}
.single-volvo_vehicule_dispo #content .fieldGroupTitle {
    border-bottom: solid 1px #4d4e53;
    margin-bottom: 20px;
}
.single-volvo_vehicule_dispo #content h2 {
    font-size: 15px;
    font-weight: 700;
    margin-bottom: 0;
    position: relative;
    bottom: -10px;
    background-color: #e4e3de;
    padding-left: 10px;
    padding-right: 10px;
}
.single-volvo_vehicule_dispo #content .field {
    background-color: #fff;
    padding: 10px;
    margin-bottom: 5px;
    font-weight: 700;
    min-height: 35px;
}
.single-volvo_vehicule_dispo #content .field small {
    font-weight: 400;
}
.single-volvo_vehicule_dispo #content .fieldLabel {
    display: inline-block;
    min-width: 30%;
    font-weight: 400;
    text-transform: uppercase;
    padding-right: 15px;
    margin-bottom: 15px;
    float: left;
}
.single-volvo_vehicule_dispo #content .col-img {
    /*padding-right: 0;*/
}
.single-volvo_vehicule_dispo #content .col-img .legend {
    text-align: right;
    font-style: italic;
    font-size: 10px;
    padding-top: 5px;
}
.hiddenBlocButton {
    cursor: pointer;
}
.hiddenBloc {
    visibility: hidden;
}
.hiddenBloc.visible {
    visibility: visible;
}
.carousel-inner {
    background-color: #444;
}
.carousel-inner img {
    width: 100%;
}
.carousel-control.right, .carousel-control.left {
    background: none;
    opacity: 1;
}
.carousel .glyphicon:before {
    width: 29px;
    height: 29px;
    display: block;
    background-size: cover;
}
.glyphicon-chevron-right:before {
    content: "";
    background-image: url('img/chevron-right.png');
}
.glyphicon-chevron-left:before {
    content: "";
    background-image: url('img/chevron-left.png');
}
.carousel-control .glyphicon-chevron-left {
    left: 0;
    margin-left: 0;
}
.carousel-control .glyphicon-chevron-right {
    right: 0;
    margin-right: 0;
}
.single-volvo_vehicule_dispo .vehicule_dispo_actions {
    padding: 0;
    margin-bottom: 30px;
}
.single-volvo_vehicule_dispo .vehicule_dispo_actions a:before {
    content: "";
    background-image : url('img/download.png');
    display: inline-block;
    width: 17px;
    height: 17px;
    margin-right: 10px;
    position: relative;
    top: 2px;
}
.single-volvo_vehicule_dispo .vehicule_dispo_actions a:hover:before {
    background-image : url('img/download_silver.png');
}
.card_link.reserver {
    position: relative;
    width: 100%;
    max-width: 100%;
    background-color:  #dd7611 !important;
    color: #fff !important;
    border: none;
}
.card_link.reserver:hover {
    background-color:  #fff !important;
    color: #dd7611 !important;
}
.card_link.disabled {
    background-color:  #c9c8c5;
    color: #4d4e53;
    padding-right: 50px;
    cursor: not-allowed;
}
.card_link.disabled:hover {
    background-color:  #4d4e53;
    color: #c9c8c5;
}
.card_link.reserver:before,
.card_link.disabled:before {
    display: none;
}
.card_link.disabled:after {
    content: "";
    background-image : url('img/reserver.png');
    display: inline-block;
    width: 49px;
    height: 49px;
    margin-left: 10px;
    position: absolute;
    top: -7px;
    right: 15px;
}

.single-volvo_vehicule_dispo .acf-fields,
.popin .acf-fields {
    display: none;
}
.popin__content {
    top: 250px;
}
.updatedMessage {
    background-color: rgba(77, 78, 83, 0.92);
    color: #fff;
    font-family: VolvoBroad, sans-serif;
    font-size: 45px;
    text-align: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 10% 10%;
    z-index: 10;
}
.updatedMessage-inner {
    position: relative;
    padding: 10% 0;
}
.updatedClose {
    position: absolute;
    top: 0;
    right: 0;
}
@media (min-width: 768px) {
    .pageSwitch-vehiculesDispo li.tab {
        width: auto;
        margin-right: 5px;
    }
    .vehicule_dispo_card .card_header .textRight {
        display: inline-block;
        float: right;
        font-size: 14px;
    }
    .vehicule_dispo_card .card_picture .reserve {
        top: inherit;
        bottom: -25px;
    }
    .vehicule_dispo_card .card_infos_sub.first {
        border-color: #4d4e53;
    }
    .vehicule_dispo_card .card_footer {
        position: absolute;
        bottom: 0;
        left: 0;
    }
    .vehicule_dispo_card.list .card_infos_sub.second {
        margin-bottom: 50px;
    }
    .vehicule_dispo_card.booked .card_infos_sub.second {
        margin-bottom: 145px;
    }
    .vehiculesDispo__selectWrapper,
    .vehiculesDispo__searchWrapper {
        width: auto;
        max-width: 250px;
    }
    .carousel-control {
        top: inherit;
        bottom: 0;
        height: 30px;
    }
    .carousel-control.left { text-align: left; }
    .carousel-control.right { text-align: right; }
    .carousel .glyphicon {
        position: relative;
        top: 0;
        margin-top: 0;
    }
    .carousel .glyphicon:before {
        width: 29px;
        height: 29px;
    }
}
@media (min-width: 480px) and (max-width: 768px) {
    .vehicule_dispo_card .card_infos_sub.second {
        /*margin-top: -15%;*/
    }
}
@media (min-width: 1200px) {
    .vehicule_dispo_card .card_picture {
        max-height: 140px;
        overflow: hidden;
    }
    .single-volvo_vehicule_dispo .card_link {
        max-width: 85%;
    }
    .card_link{
        text-decoration:none;
        color: black;
    }
    .tab{
        text-decoration:none;
    }
    .single-volvo_vehicule_dispo #content .col-lg-pull-4 .fieldGroupTitle:first-of-type {
        position: relative;
        bottom: 10px;
    }
    .single-volvo_vehicule_dispo #content .col-lg-pull-4 .fieldGroupTitle:first-of-type h2 {
        margin-top: 0;
    }
}